.select-none {
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    user-select: none!important;
}

.pointer-events-none {
    pointer-events: none!important;
}

.text-xs {
    font-size: .75rem!important;
    line-height: 1rem!important;
}

.font-medium {
    font-weight: 500!important;
}

.me-2 {
    margin-inline-end: 0.5rem;
}

.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.rounded-full {
    border-radius: 9999px;
}


.text-blue-800 {
    --tw-text-opacity: 1;
    color: rgb(30 64 175 / var(--tw-text-opacity));
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}

.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}

.bg-yellow-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 249 195 / var(--tw-bg-opacity));
}

.bg-indigo-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}

.bg-purple-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 232 255 / var(--tw-bg-opacity));
}

.bg-pink-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(252 231 243 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-blue-300) {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-blue-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-gray-300) {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-gray-700) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-red-300) {
    --tw-text-opacity: 1;
    color: rgb(252 165 165 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-red-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(127 29 29 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-green-300) {
    --tw-text-opacity: 1;
    color: rgb(134 239 172 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-green-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(20 83 45 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-yellow-300) {
    --tw-text-opacity: 1;
    color: rgb(253 224 71 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-yellow-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(113 63 18 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-indigo-300) {
    --tw-text-opacity: 1;
    color: rgb(165 180 252 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-indigo-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(49 46 129 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-purple-300) {
    --tw-text-opacity: 1;
    color: rgb(216 180 254 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-purple-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(88 28 135 / var(--tw-bg-opacity));
}

:is(.dark .dark\:text-pink-300) {
    --tw-text-opacity: 1;
    color: rgb(249 168 212 / var(--tw-text-opacity));
}
:is(.dark .dark\:bg-pink-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(131 24 67 / var(--tw-bg-opacity));
}